<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@title} | " unless @title.blank? %><%= application_name %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "active_application/base", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "active_application/base" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
          <div class="container">
            <%= link_to application_name, root_path, class: "brand" %>
            <%= render "layouts/menu" %>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "My account", edit_user_registration_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <%= layout_flash %>
      <section>
        <%=
          if @title
            content_tag(:div, content_tag(:h1, @title), class: "page-header")
          end
        %>
        <%= yield %>
      </section>
      <footer class="footer">
        &copy; <%= Time.now.year %> <%= application_name %>
      </footer>
    </div>
  </body>
</html>
