%h1
  = document.title.to_s.html_safe || document.slug.to_s.html_safe

%h3 Описание
%p
  = (document.description || "Нет данных").to_s.html_safe

%h3 Бизнесс описание
%p
  = (document.business_desc || "Нет данных").to_s.html_safe

%h3 Публичность
%p
  = (document.publicity || "Нет данных").to_s.html_safe

%h3 Тесты
%p
  = (document.tests || "Нет данных").to_s.html_safe

%h3 Зависимости
.js-dependencies-container
  .switch
    %input.switch-checkbox.js-dependency-switch{type: "checkbox", id: "doc-switch"}
    %label.switch-label{for: "doc-switch"}
      %span.switch-inner
      %span.switch-switch

  %h4 Зависит от
  != Apress::Documentation::DependencyPresenter.new(self, document).render_deps

  %h4 Используется в
  != Apress::Documentation::DependencyPresenter.new(self, document).render_deps(reverse: true)
